<h1>Create a Team and Heroes!</h1>
<form action='/teams' method="POST">
  <label for="team[name]">Team Name:</label>
  <input type="text" id="team[name]" name="team[name]">

  <label for="team[motto]">Team Motto:</label>
  <input type="text" id="team[motto]" name="team[motto]">

  <!-- Member 1 -->
  <label for="member1_name">Member 1 Name:</label>
  <input type="text" id="member1_name" name="members[][name]">

  <label for="member1_power">Member 1 Power:</label>
  <input type="text" id="member1_power" name="members[][power]">

  <label for="member1_bio">Member 1 Bio:</label>
  <input type="text" id="member1_bio" name="members[][bio]">

  <!-- Member 2 -->
  <label for="member2_name">Member 2 Name:</label>
  <input type="text" id="member2_name" name="members[][name]">

  <label for="member2_power">Member 2 Power:</label>
  <input type="text" id="member2_power" name="members[][power]">

  <label for="member2_bio">Member 2 Bio:</label>
  <input type="text" id="member2_bio" name="members[][bio]">

  <!-- Member 3 -->
  <label for="member3_name">Member 3 Name:</label>
  <input type="text" id="member3_name" name="members[][name]">

  <label for="member3_power">Member 3 Power:</label>
  <input type="text" id="member3_power" name="members[][power]">

  <label for="member3_bio">Member 3 Bio:</label>
  <input type="text" id="member3_bio" name="members[][bio]">

  <input type="submit" id="submit">
</form>
